.navDiv ul{
   
   list-style: none;
   float: right;
}

.navDiv li{
    padding: 10px;
    display: inline-block;

}

.navDiv li:hover{
    text-decoration: underline;
}
.linkColor{
    color: black;
    text-decoration: none;
}



















