.monthSelect {
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    background-color: #597e52;
    color: white;
    cursor: pointer;
  }
  
.downButton{
  border: none;
 
  background-color: #B84346;
  border-radius: 10px;
  padding: 5px;
  color: white;
  cursor: pointer;
}