.inputDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.inputDiv input {
  background-color: #c6a969;
  border-radius: 10px;
  padding: 10px;
  border: none;
  border: 1px solid black;
  margin: 10px;
}

.submitB {
  text-align: center;
  padding: 10px;
}

.submitB button {
  background-color: #597e52;
  padding: 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.dataDiv p {
  text-align: center;
  font-size: 20px;
}
