:root{
    background-color: rgb(255, 255, 236);
}


::-webkit-scrollbar {
    width: 10px; 
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #C6A969; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #F1E4C3; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }