.filterDiv {
  margin-bottom: 5px;
}

.refreshButton2 {
  float: right;
  border: none;
  background-color: #dda15e;
  color: white;
  font-size: 25px;
}

.selectDiv {
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  background-color: #597E52;
  color: white;
}

.buttonDiv {
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  margin-left: 20px;
  background-color: rgb(198, 169, 105);
  color: white;
  cursor: pointer;
  
}

.buttonAddDiv {
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
  background-color: rgb(198, 169, 105);
  color: white;
  cursor: pointer;
}

.buttonAddDiv:active {

  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
  background-color: rgb(241, 228, 195);
  color: rgb(89, 126, 82);
  font-weight: bold;
  cursor: pointer;
  scale: 0.9;
}

.buttonDiv:active{

  border-radius: 5px;
  padding: 5px;
  margin-left: 20px;
  background-color: rgb(241, 228, 195);
  color: black;
  font-weight: bold;
  cursor: pointer;
  scale: 0.9;
}