.filterDiv {
  margin-bottom: 5px;
}

.refreshButton2 {
  float: right;
  border: none;
  background-color: #dda15e;
  color: white;
  font-size: 25px;
}

.selectDiv {
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  background-color: #597e52;
  color: white;
}

.buttonDiv {
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px;
  margin-left: 10px;
  background-color: #F1E4C3;
  color: black;
  cursor: pointer;
}

.buttonAddDiv {
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px;

  background-color: #F1E4C3;
  color: black;
  cursor: pointer;
}

.buttonAddDiv:active {
 

  cursor: pointer;
  color: white;
 
}

.buttonDiv:active {

  cursor: pointer;
  color: white;

}
