.buttonDiv{
    width: 16%;
  }
  
  .buttonDiv button{
    background-color: #F1E4C3;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
  font-size: 20px;
  cursor: pointer;
  }

  .buttonDiv button:hover{
    background-color: rgba(0, 0, 0, 0.099);
   
  }