.leftDiv {
  float: left;

  display: flex;
  flex-direction: column;

  text-align: center;
  align-items: center;
}

.leftDiv input {
  background-color: #c6a969;
  border-radius: 10px;
  padding: 10px;
  border: none;
  border: 1px solid black;
  margin: 10px;
}

.rightDiv {
  float: right;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rightDiv input {
  background-color: #c6a969;
  border-radius: 10px;
  padding: 5px 5px 180px 5px;
  margin: 10px;

  border: none;
  border: 1px solid black;
}

.submitButton {
  clear: both;
  float: right;
}

.submitButton button {
  background-color: #597e52;
  padding: 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.submitButton button:hover {
  background-color: black;
}

.checkboxCon {
  margin: 10px;
  display: flex;
  align-items: center;
  color: white;
}

.checkboxCon input[type="checkbox"] {
  appearance: none;
  cursor: pointer;
  width: 48px;
  height: 27px;
  border: 2px solid #ff0000;
  border-radius: 20px;
  background: #f1e1e1;
  position: relative;
  box-sizing: border-box;
}

.checkboxCon input[type="checkbox"]::before {
  content: "";
  width: 14px;
  height: 14px;
  background: rgba(234, 7, 7, 0.5);
  border: 2px solid #ea0707;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(13%, 15%);
  transition: all 0.3s ease-in-out;
}

.checkboxCon input[type="checkbox"]::after {
  position: absolute;
  top: 0;
  left: 20px;
}

.checkboxCon input[type="checkbox"]:checked {
  border: 2px solid #02c202;
  background: #e2f1e1;
}

.checkboxCon input[type="checkbox"]:checked::before {
  background: rgba(2, 194, 2, 0.5);
  border: 2px solid #02c202;
  transform: translate(133%, 13%);
  transition: all 0.3s ease-in-out;
}

.checkboxCon input[type="checkbox"]:checked::after {
  position: absolute;
  top: 5px;
  left: 5px;
}
