.lostWeightDiv {
  position: relative;

  top: 100px;

  text-align: center;

  float: right;
}

.lostWeightDiv label {
  margin: 10px;
  font-weight: bold;

  font-size: 30px;
}

.lostWeightDiv input{
  margin: 10px;
}

.middleDiv {
  float: left;
  text-align: center;
}

.middleDiv input {
  margin: 10px;
border: 1px solid #C6A969;
  padding: 5px;
  background-color: rgb(241, 228, 195);
  color: black;
  border-radius: 5px;
}
.middleDiv h3 {
  margin: 10px;
  font-weight: bold;
color: black;
  font-size: 25px;
}

.submitButton {
  clear: both;
  float: right;
}

.submitButton button {
  background-color: #597e52;
  padding: 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.submitButton button:hover {
background-color: lime;
}
