.mainDiv {
  clear: both;
  background-color: #c6a969;
  border: 2px solid #f1e4c3;
  border-radius: 10px;
  color: #f1e4c3;
}

.box {
  display: flex;
  text-align: center;
  margin-bottom: 5px;

  justify-content: space-evenly;
}

.box h3 {
  color: white;
}

.box p {
  padding: 5px;
}

.infoDiv {
  width: 16%;

  height: 100px;
  overflow-y: scroll;
}

.monthSelect {
  border: 1px solid #f1e4c3;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  background-color: #597e52;
  color: white;
  cursor: pointer;
}
