.mainDiv {
  clear: both;
  background-color: rgb(241, 228, 195);
  border: 2px solid rgb(198, 169, 105);
  border-radius: 10px;

}

.box {
  display: flex;
  text-align: center;


  justify-content: space-evenly;
}

.box h3{
  color: rgb(198, 169, 105);

}

.box p {
  padding: 5px;


}

.infoDiv{
  width: 16%;
  
  
}

.infoDiv p{
  overflow-x: scroll;

}